<html>
  <body>
    <title>AWS Test</title>
    <form method="POST" action="/">
        User name:<br>
        <input type="text" name="user_name" required><br>
        Favourite color:<br>
        <input type="text" name="user_color" required><br>
        Dog or Cat?:<br>
        <input type="radio" name="user_pref" value='dog' required>Dog<br>
        <input type="radio" name="user_pref" value='cat' required>Cat<br>
        <input type="submit" value="Submit record">
    </form>
  </body>
</html>